body {
    background-color: #343a40; /* Cor de fundo escura */
    color: white; /* Texto claro */
}
#myPieChart {
    width: 600px !important;
    height: 600px !important;
    margin: 0 auto;
}
.sidebar {
    margin-right: 100px;
    z-index: 1000px;
    height: 100%;
    background-color: #212529; /* Sidebar escura */
    position: fixed;
    padding: 20px;
    transform: translatex(0px) translatey(-50px);
}
.sidebar a {
    color: white; /* Texto dos links na sidebar */
}
.sidebar a:hover {
    background-color: #495057; /* Cor ao passar o mouse */
}
.content {
    margin-left: 250px; /* Largura da sidebar */
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo do formulário */
#product-form, #delete-product-form, #edit-product-form {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background-color: #232225;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título do formulário */
#product-form, #delete-product-form, #edit-product-form  h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

/* Labels */
#product-form, #delete-product-form, #edit-product-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

/* Inputs e textarea */
#product-form input[type="text"],
#product-form input[type="number"],
#product-form input[type="file"],
#product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

#product-form, #delete-product-form, #edit-product-form textarea {
    resize: vertical;
    min-height: 80px;
}

/* Botão */
#product-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#product-form button:hover {
    background-color: #0056b3;
}
.itensdobanco{
    text-align: center;
    align-self: center;
    justify-items: center;
}
h1{
    text-align: center;
}