body {
  background-color: #343a40; 
  color: white; 
  
}

.nav-links li .logo{
  display:none;
 }
 

 .navbar .nav-links .logo{
  display:none;
 }
.navbar {
  top: 0;               /* Alinha no topo da página */
  width: 100%;          /* Define a largura para ocupar toda a tela */
  background-color: #333;
  color: white;
  padding: 10px 0;
  height: 80px;
  background-color: #333;
  justify-content: center;
  margin-bottom: 10px;
}
header img{
  transform:translatex(0px) translatey(-42px);
  height: 33%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; 
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px; 
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
  border: 1px solid #fff; /* Adiciona uma borda branca de 1px */
}

.box{
  margin: 0 auto;
  width: 1500px; 
}

.menu-section {
  text-align: center; 
}

.menu-section h1 {
  font-size: 2rem;
  color: #ffffff;
}

.menu-section h1 span {
  color: #d21f1b; /* Cor vermelha do hashtag */
  font-family: 'Cursive';
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.menu-item img {
  width: 260px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item p {
  font-size: 1rem;
  font-weight: bold;
  color: #d21f1b; /* Cor vermelha do texto */
  margin-top: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-item img:hover {
  transform: scale(1.1); /* Aumenta levemente o tamanho da imagem */
  transition: transform 0.7s ease; /* Transição suave */
}


.card-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.card {
  background-color: #292b31;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 16px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card h3 {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 8px;
}

.price {
  font-weight: bold;
}
.price span{
  color: green;
}
.btnCompra{
  height: 30px;
  width: 80px;
  color: #ffffff;
  background-color: #00a65000;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 0);
}
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #292b31;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  max-width: 500px;
}


